:root{
--primary-text-color:  rgba(117, 117, 117, 1);
--title-text-color: #212121;
--primary-white-color:  #FFFFFF;
--accent-color: #2196F3;
--primary-grey-color:#757575;
}

/**,
*::before,
*::after {
  box-sizing: border-box;
}*/


body {
 background-color: var(--primary-white-color);   
 color: var(--primary-text-color);

 font-family:Roboto, sans-serif;
}

a {
 text-decoration: none;
}

ul{
 margin: 0px;
 padding: 0px;
 list-style-type: none;
}

h1,h2,h3,p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.header{
  padding-top: 32px;
  padding-bottom: 32px;

  border-bottom:1px solid rgba(236, 236, 236, 1);
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}


.container{
  
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.site-nav{
  display: flex;
  align-items: center;
}

.site-nav-items{
  display: flex;
}

.site-nav-item:not(:last-child){
  margin-right: 50px;
}

.site-nav-link{
 font-weight: 500;
 font-size: 14px;
 line-height:1.14;
 letter-spacing: 0.02em;

 color: var(--title-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
 color: var(--accent-color)
}

.contact-items{
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child){
  margin-right: 50px;
}

.contact-link{
 font-weight: 500;
 font-size: 14px;
 line-height:1.14;
 letter-spacing: 0.02em;

 color: var(--primary-grey-color);
}

.contact-link:hover,
.contact-link:focus {
  color:var(--accent-color)  
}

/*logo*/
.logo{
 margin-right:93px;

 font-family: Raleway;
 font-style: 700;
 font-size: 26px;
 line-height: 1.19;
 color: var(--accent-color)
}

.header-logo-accent{
 color:#000000;
}

/*Hero*/
.hero {
 padding-top: 200px;
 padding-bottom: 200px;

 background-color:#2F303A;
 text-align: center;

}

.hero-title{
 width: 696px;
 margin-left: auto;
 margin-right: auto;

 font-weight: 900;
 font-size: 44px;
 line-height:1.36;
    
 
 letter-spacing: 0.06em;
 text-transform: uppercase;

 color: var(--primary-white-color);
}

.hero-button{
 font-style: 700;
 font-size: 16px;
 line-height: 1.88;

 background-color: var(--accent-color);
 color:var(--primary-white-color);

 cursor:pointer;
}

/*Our benefits*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-items{
  display: flex;
}

.benefits-item:not(:last-child){
  margin-right: 30px;
}

.benefits-item-title{
 font-weight: 700;
 font-size: 14px;
 line-height:1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;

 color: var(--title-text-color);
}

.benefits-item-text{
 font-weight: 400;
 font-size: 14px;
 line-height:1.71;
 letter-spacing: 0.03em;
 
}

.section-title{
 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
 text-align: center;
 letter-spacing: 0.03em;

 color: var(--title-text-color)
}

/*what we do*/

.image-items{
  display: flex;
  column-gap: 30px;
}


/*Our team*/

.team{
  background:#F5F4FA; 
}

.section-title{
  margin-bottom: 50px;
}

.team-items{
  display: flex;
}

.team-item:not(:last-child){
  margin-right: 30px;
}

.team-item-img{
  margin-bottom: 30px;
}

.team-item-title{
 margin-bottom: 10px;

 font-weight: 500;
 font-size: 16px;
 line-height:1.19;

 text-align: center;
 letter-spacing: 0.03em;

 color: var(--title-text-color);
}


.team-item-text{
 margin-bottom: 30px;

 font-weight: 400;
 font-size: 16px;
 line-height:1.19;
   

 text-align: center;
 letter-spacing: 0.03em;
}

/*Footer*/

.footer {
 padding-top: 60px; 
 padding-bottom: 60px;
 background-color: #2F303A;
}

.logo-secondary-accent{
 color: var(--primary-white-color);  
}

.logo-secondary{
 display: block;
 margin-bottom: 20px; 
}

.address-street{
 margin-bottom: 9px;

 font-weight: 400;
 font-size: 14px;
 line-height:1.71;
 font-style:normal;
     
 letter-spacing: 0.03em;
 

 color: var(--primary-white-color);
}

.address-link{
 display: block;

 font-weight: 400;
 font-size: 14px;
 line-height: 1.71;
 font-style: normal;
    
 letter-spacing: 0.03em;
 

 color: rgba(255, 255, 255, 0.6);
}

.address-link:not(:last-child){
  margin-bottom: 9px;
}



/*Projects*/

.projects-nav-items{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-nav-btn{
  
 background-color:#F5F4FA;;
 color: var(--title-text-color);
 cursor: pointer;

 font-style:500;
 font-size: 16px;
 line-height:1.63;

}

.projects-nav-btn:hover,
.projects-nav-btn:focus{
 background-color:var(--accent-color);   
}

.projects-nav-item:not(:last-child){
  margin-right: 8px;
}

.projects-items{
  display: flex;
  flex-wrap: wrap;
 
}

.projects-item {
 /* width:calc((100%-60px)/3);*/
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-item:nth-child(3n){
  margin-right: 0px;
}

.projects-item:nth-last-child(-n+3){
  margin-bottom: 0px;
}

.text-card{
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right:1px solid #EEEEEE;
  border-bottom:1px solid #EEEEEE;
}
.project-item-title{
 font-weight: 700;
 font-size: 18px;
 line-height:2;
    
 letter-spacing: 0.06em;

 color: var(--title-text-color);
}

.project-item-text{
 font-weight: 400;
 font-size: 16px;
 line-height: 1.88;


 letter-spacing: 0.03em;

 color: var(--primary-grey-color);
}

.project-item-img{
  display: block;
  max-width: 100%;
  height: auto;

}

.project-item-title{
  margin-bottom: 4px;
}